@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-image: url("bg.png");
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-variant: small-caps; /*Caps Lock*/
  font-size: 4rem; /*relative */
}

/*font is a short hand for font-size, font-family, font-weight, font-style, and line-height
==> font : italic bold small-caps 2rem/1.5 Arial, sans-serif

web-type-snippt ===> @font-face {
  font-family: 'MyCustomFont';
  src: url('my-custom-font.woff2') format('woff2'),
       url('my-custom-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

.container {
  margin: 0 auto;
  width: 1000px;
  padding: 1rem;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.pre-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.logo {
  color: #026e78;
  font-weight: bold;
}
